.nav-link {
    color: black !important; 
}

.active {
  background-color:#5570F1 !important;
  color: white !important;
  width: 45px !important; 
  height: 30px !important; 
  display: flex !important; 
  padding: 10px !important; 
  margin-left: 7px !important;
  border-radius: 7px !important;
}
